@font-face {
	font-family: 'Instrument Serif';
	font-style: normal;
	font-display: block;
	font-weight: 400;
	src: url('@fontsource/instrument-serif/files/instrument-serif-latin-400-normal.woff2') format('woff2');
}

@font-face {
	font-family: 'Manrope Variable';
	font-style: normal;
	font-display: block;
	font-weight: 200 800;
	src: url('@fontsource-variable/manrope/files/manrope-latin-wght-normal.woff2') format('woff2-variations');
}
